<!DOCTYPE html>
<html>
    <head>
        <title> new project</title>
        <link rel="stylesheet" href="css/style.css"/>
    </head>
    <body>
        <h2 class="hedt1">{{title}}</h2>
        <div class="header1">
            <a href="/">HOME</a>
            <a href="/checkWeather">CHECK WEATHER</a>
            <form id="form1">
            <input type="text" id="address"/>
            <button>Search </button>
            </form>
        </div>
    </body>
</html>