<!DOCTYPE html>
<html>
    <head>
        <title> new project</title>
        <link rel="stylesheet" href="css/style.css"/>
    </head>
    <body>
        {{>header}}
        <h2>LOCATION: <p id="location"></p></h2>

        <h2>LATITUDE: <p id="latitude"></p></h2>
        
        <h2>LONGITUDE: <p id="longitude"></p></h2>
        
        <h2>WEATHER: <p id="weather"></p></h2>
        
        <h2>TEMPERATURE: <p id="temperature"></p></h2>
        
        <h2>ERROR: <p id="error"></p></h2>

        
        <script src="js/script.js"></script>
    </body>
</html>