<!DOCTYPE html>
<html>
    <head>
        <title> new project</title>
        <link rel="stylesheet" href="css/style.css"/>
    </head>
    <body>
        {{>header}}
        
        
        <h2>WELCOME TO OUR UPCOMING WEBSITE</h2>

        
        
    </body>
</html>